/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#extractEventButton,
#extractTaskButton,
#hdrExtractEventButton,
#hdrExtractTaskButton {
  list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-large.png"); }
  toolbar[iconsize="small"] #extractEventButton, toolbar[iconsize="small"]
  #extractTaskButton, toolbar[iconsize="small"]
  #hdrExtractEventButton, toolbar[iconsize="small"]
  #hdrExtractTaskButton {
    list-style-image: url("chrome://lightbird/skin/sunbird/toolbar-small.png"); }

#extractEventButton {
  -moz-image-region: rect(0px 32px 32px 0px) ; }
  #extractEventButton:active {
    -moz-image-region: rect(32px 32px 64px 0px) ; }
  #extractEventButton[disabled="true"], #extractEventButton[disabled="true"]:active {
    -moz-image-region: rect(64px 32px 96px 0px) ; }
  toolbar[iconsize="small"] #extractEventButton {
    -moz-image-region: rect(0px 24px 24px 0px) ; }
    toolbar[iconsize="small"] #extractEventButton:active {
      -moz-image-region: rect(24px 24px 48px 0px) ; }
    toolbar[iconsize="small"] #extractEventButton[disabled="true"], toolbar[iconsize="small"] #extractEventButton[disabled="true"]:active {
      -moz-image-region: rect(48px 24px 72px 0px) ; }

#extractTaskButton {
  -moz-image-region: rect(0px 512px 32px 480px) ; }
  #extractTaskButton:active {
    -moz-image-region: rect(32px 512px 64px 480px) ; }
  #extractTaskButton[disabled="true"], #extractTaskButton[disabled="true"]:active {
    -moz-image-region: rect(64px 512px 96px 480px) ; }
  toolbar[iconsize="small"] #extractTaskButton {
    -moz-image-region: rect(0px 384px 24px 360px) ; }
    toolbar[iconsize="small"] #extractTaskButton:active {
      -moz-image-region: rect(24px 384px 48px 360px) ; }
    toolbar[iconsize="small"] #extractTaskButton[disabled="true"], toolbar[iconsize="small"] #extractTaskButton[disabled="true"]:active {
      -moz-image-region: rect(48px 384px 72px 360px) ; }

#hdrExtractEventButton {
  -moz-image-region: rect(0px 32px 32px 0px) ; }
  #hdrExtractEventButton:active {
    -moz-image-region: rect(32px 32px 64px 0px) ; }
  #hdrExtractEventButton[disabled="true"], #hdrExtractEventButton[disabled="true"]:active {
    -moz-image-region: rect(64px 32px 96px 0px) ; }
  toolbar[iconsize="small"] #hdrExtractEventButton {
    -moz-image-region: rect(0px 24px 24px 0px) ; }
    toolbar[iconsize="small"] #hdrExtractEventButton:active {
      -moz-image-region: rect(24px 24px 48px 0px) ; }
    toolbar[iconsize="small"] #hdrExtractEventButton[disabled="true"], toolbar[iconsize="small"] #hdrExtractEventButton[disabled="true"]:active {
      -moz-image-region: rect(48px 24px 72px 0px) ; }

#hdrExtractTaskButton {
  -moz-image-region: rect(0px 512px 32px 480px) ; }
  #hdrExtractTaskButton:active {
    -moz-image-region: rect(32px 512px 64px 480px) ; }
  #hdrExtractTaskButton[disabled="true"], #hdrExtractTaskButton[disabled="true"]:active {
    -moz-image-region: rect(64px 512px 96px 480px) ; }
  toolbar[iconsize="small"] #hdrExtractTaskButton {
    -moz-image-region: rect(0px 384px 24px 360px) ; }
    toolbar[iconsize="small"] #hdrExtractTaskButton:active {
      -moz-image-region: rect(24px 384px 48px 360px) ; }
    toolbar[iconsize="small"] #hdrExtractTaskButton[disabled="true"], toolbar[iconsize="small"] #hdrExtractTaskButton[disabled="true"]:active {
      -moz-image-region: rect(48px 384px 72px 360px) ; }

#extractEventButton > .toolbarbutton-icon,
#extractTaskButton > .toolbarbutton-icon,
#extractEventButton > .box-inherit > .toolbarbutton-icon,
#extractTaskButton > .box-inherit > .toolbarbutton-icon {
  width: 32px;
  height: 32px; }

toolbar[iconsize="small"] #extractEventButton > .box-inherit > .toolbarbutton-icon,
toolbar[iconsize="small"] #extractTaskButton > .box-inherit > .toolbarbutton-icon {
  width: 24px;
  height: 24px; }

#extractEventButton[disabled="true"] > .box-inherit > .toolbarbutton-icon,
#extractTaskButton[disabled="true"] > .box-inherit > .toolbarbutton-icon {
  opacity: 1; }
